body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;                 
    flex-wrap: wrap;           
    margin-top: 50px;
}

#forma, #forma2, #forma3, #forma4{
    width: 200px;
    padding: 15px;
    text-align: center;
}

.mb-2{
    margin-top: 30px;
}

.form-control{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.text1{
    margin-right: 15px;
}

.btn{
    padding-top: 30px;
}

#Resultado, #Resultado2, #Resultado3, #Resultado4{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.btn button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}